*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: #DCF8FF;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
  }
  .h1{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  .navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
  }
  nav{
    flex: 1;
    padding-left: 60px; 
  }
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
  }
  nav ul li a{
    text-decoration: none;
    color: #333;
  }

/*Body styling*/
html,
body{
    height: 100%;
    margin: 0;
}
.resource{
    display: flex;
    height: 100%;
}
.resource *{
    font-family: sans-serif;
}
.resource__sidebar{
    border-right: 2px solid #dddddd;
    flex-shrink: 0;
    overflow-y: auto;
    padding: 1em;
    width: 300px;
}
.resource__add{
    background: #009578;
    border: none;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;
}
.resource__add:hover{
    background: #00af8c;
}
.resource__list-item{
    cursor: pointer;
}
.resource__list-item--selected{
    background: #eeeeee;
    border-radius: 7px;
    font-weight: bold;
}
.resource__small-title,
.resource__small-updates{
    padding: 10px;
}
.resource__small-title{
    font-size: 1.2em;
}
.resource__small-body{
    padding: 0 10px;
}
.resource__small-updated{
    color: #aaaaaa;
    font-style: italic;
    text-align: right;
}
.resource__preview{
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    flex-grow: 1;
}
.resource__title,
.resource__body{
    border: none;
    outline: none;
    width: 100%;
}
.resource__title{
    font-size: 3em;
    font-weight: bold;
}
.resource__body{
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 2em;
    resize: none;
}